img {
  max-width: 375px;
  min-width: 170px;
  max-height: 375px;
  min-height: 170px;
}
/* 
html{
  height: 100%;
  width: 100%;
}

body {
  background-image: url(./Images/Background\ image.png);
  font-family: var(--bs-font-sans-serif);
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 2px;
  padding-bottom: 50px;
}




#index {
  margin: 3% 1% 5% 1%;
  padding: 1%;
  background-color: rgb(34, 32, 32);
 
}

#portfolio {
  background-color: rgb(34, 32, 32);
  padding: 1%;
  margin: 1% 1% 1% 1% ;
  text-align: center;
}



#contact {
  background-color: rgb(34, 32, 32);
  padding: 1%;
  width: 40%;
  height: 20%;
  margin: 0 1% 5% 1%;
}
.col-md-12 {
  margin-bottom: 1%;
  }



img {
  margin: 15px;
  border: 1px solid rgb(238, 87, 87);
}

footer {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: auto;
}

@media (max-width: 400px) {
  #portfolio {
    width: 400px;
  }
}

@media (max-width: 768px) {
  #portfolio {
    width: 768px;
  }
}
@media (max-width: 992px) {
  #portfolio {
    width: 992px;
  }
}
 */
