html{
  height: 100%;
  width: 100%;
}

body {
  background-image: url(./Images/Background\ image.png);
  font-family: var(--bs-font-sans-serif);
  color: rgb(7, 7, 7);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.index {
  background-color: bisque;
  padding: 10px;
  margin: 25px 300px 25px 15px;
}
.index img {
  width: 375px;
  height: 375px;
  float: left;
  margin-right: 10px;
}

/* .container {
  margin: 50px;
  background-color: gray;
  padding: 25px;
}

.article{
  margin: 15px;
}
img {
  max-width: 375px;
  min-width: 170px;
  max-height: 375px;
  margin-right: 10px;
  float: left;
}

.card {
  background-color: bisque;
} */


footer {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: auto;
}

@media screen and (max-width: 430px)
{
  /* Index */
  .index  {
    margin: 25px 15px 25px 15px;
  }
  /* Index Image */
  .index img {
    width: 175px;
    height: 175px;
  }
  .article {
    width: 100%;
  }
  .card-body {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
.index img {
width: 275px;
height: 275px;
}
}

@media screen and (min-width: 900px)
{

  .index img {
    width: 375px;
    height: 375px;
  }
  .g-3 {
    max-width: 100%;
   
  }
  .card {
    background-color: bisque;
    margin-right: 100px;
  }
}

